.article-thumbnail {
  width: 100px;
  grid-area: thumbnail;
  margin:auto;
}

.article-card {
  display: grid;
  grid-template-areas: 
    'title title title'
    'thumbnail topic votes'
    'thumbnail author date';
  border-bottom: 2px solid darkgrey;
}

.article-card-title {
  grid-area: title;
}

.article-card-topic {
  grid-area: topic;
}

.article-card-votes {
  grid-area: votes;
}

.article-card-author {
  grid-area: author;
}

.article-card-date {
  grid-area: date;
}