.article-thumbnail {
  height: auto;
  width: auto;
  max-height: 112px;
  grid-area: thumbnail;
  margin: auto;
}

.article-card {
  display: grid;
  grid-template-areas:
    "title title title"
    "thumbnail topic votes"
    "thumbnail author date";
  border-bottom: 2px solid darkgrey;
  padding: 1em;
  background-color: rgb(236, 236, 236);
  margin: 1em;
  border-left: 5px solid rgb(236, 236, 236);
}

.article-card-title {
  grid-area: title;
  word-wrap: normal;
  border-left: 5px solid rgb(236, 236, 236);
  padding-left: 0.5em;
}

.article-card:visited {
  color: black;
  text-decoration: none;
}

.article-card:link {
  color: black;
  text-decoration: none;
}

.article-card:hover {
  border-left: 5px solid #eb1b24;
}

.article-card-topic {
  grid-area: topic;
}

.article-card-votes {
  grid-area: votes;
}

.article-card-author {
  grid-area: author;
}

.article-card-date {
  grid-area: date;
}

#page-buttons {
  text-align: center;
}

.page-button {
  background-color: #eb1b24;
  border: 2px solid #eb1b24;
  color: white;
  margin: 10px;
  font-weight: bolder;
  height: 30px;
  width: 70px;
}
.page-button:hover {
  background-color: white;
  transition: background-color 0.2s;
  color: #eb1b24;
}


.article-card-subheadings {
  color: rgb(87, 87, 87);
}

.filter-button {
  background-color: black;
  border: none;
  color: white;
  margin: 10px;
  font-weight: bolder;
  height: 30px;
  width: 70px;
}

.filter-button:hover {
  background-color: rgb(61, 61, 61);
}

#filter-form {
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#filter-form select {
  font-size: 1em;
  border: none;
  height: 30px;
  width: auto;
  background-color: rgb(236, 236, 236);
  margin: 0.5em 1.5em 0 0.5em;
  padding: 0.2em;
}

@media only screen and (max-width: 500px) {
  .article-card {
    grid-template-areas:
      "title"
      "thumbnail"
      "topic"
      "votes"
      "author"
      "date";
  }
  #filter-form {
    flex-direction: column;
    align-items: flex-start;
  }

  .article-card > p {
    text-align: center;
  }
}