.article-thumbnail {
  width: 100px;
  grid-area: thumbnail;
  margin:auto;
}

.article-card {
  display: grid;
  grid-template-areas: 
    'title title title'
    'thumbnail topic votes'
    'thumbnail author date';
  border-bottom: 2px solid darkgrey;
}

.article-card-title {
  grid-area: title;
}

.article-card-topic {
  grid-area: topic;
}

.article-card-votes {
  grid-area: votes;
}

.article-card-author {
  grid-area: author;
}

.article-card-date {
  grid-area: date;
}

#page-buttons {
  text-align: center;
}

#next-button, #prev-button {
  background-color: #eb1b24;
  border:none;
  color: white;
  margin: 10px;
  font-weight: bolder;
  height: 30px;
  width: 70px;
}