header {
  border-bottom: 3px solid #eb1b24;
  padding-left: 15px;
  padding-bottom: 15px;
}

#header-container {
  display: flex;
  justify-content: space-between;
}
.shortcuts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  margin: 0.5em 0.5em 0.5em 0;
  padding-right: 0.5em;
  color: black;
  border-right: 2px solid gray;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 0.2em;
}

.dropdown-content > a {
  width: auto;
  background-color: #ecececff;
  border-bottom: 2px solid #a9a9a9ff;
  border-left: 2px solid #ecececff;
  padding: 0.5em 0.3em;
  width: 200%;
  color: black;
}

.dropdown-content > a:hover {
  border-left: 2px solid #eb1b24;
}

.left-shortcuts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#login-link {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  margin: 0 0.5em;
}

#header-container > button {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  color: black;
  background-color: #ecececff;
  border: 2px solid black;
}

#header-container > a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 400px) {
  .left-shortcuts {
    flex-direction: column;
    align-items: flex-start;
  }
  .dropdown {
    margin: 0.5em 0.5em 0.5em 0;
  }
  .header-link {
    border-right: none;
  }
  .dropdown {
    order: 3;
  }
  .shortcuts {
    align-items: flex-end;
  }
  .shortcuts > div:last-child {
    margin-bottom: 0.5em;
  }
}
